<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.server.infrastructure.datasource.workspace.WorkspaceMapper">
    <insert id="insertWorkspace">
        INSERT INTO workspace (id, name)
        VALUES (#{workspace.id}, #{workspace.name});
    </insert>
    <select id="selectWorkspace" resultType="com.example.demo.server.domain.model.workspace.WorkspacePOJO">
        SELECT id as "workspace.id", name as "workspace.name"
        FROM workspace
        WHERE id=#{id}
    </select>
</mapper>